<template>
  <main>
    <img
      :src="require('@/assets/creditos.jpg')"
      alt="Com:
          Bergman de Paula na deriva do Monumento às Bandeiras,
          Casé Angatu Xucuru Tupinamba na deriva do Pateo do colégio,
          Daniel Vicente Santiago na deriav da Ocupação São João,
          Diogo Rios (Diga) na deriva da Vila Itororó,
          Júlio César Pereira de Freiras Guató na deriva do Centro Cultural Jabaquara,
          Renato Pereira Corrêa (Drão) na deriva da Igreja Nossa Senhora dos Homens Pretos,
          Sabrina Duran na deriva do Vale do Anhangabaú e
          André Teles como Fantasma do Borba Gato.
          Participação de:
          Bacurau Tupinambá (Josa),
          Letícia Rodrigues de Almeida (Rendy Yobá),
          Márcia Mura,
          Maria Christiane,
          Porã Tupinambá (Binho) e
          Yakui Tupinambá na Deriva do Páteo do Colégio
          e Haidée Paixão na deriva da Igreja Nossa Senhora dos Homens Pretos.
          Realizado por:
          André Teles Alves,
          Eduardo Liron,
          Frederico Moreira,
          Mirrah Iañez Gonçalves da Silva e
          Renan Vasconcelos.
          Progrmação:
          Edgar Zanella Alvarenga e Eduardo Liron.
          Figurino: Magê Blanques.
          Arte do Mapa: Piqueiras Santangelo de Carango Sá.
          Agradecimentos:
          A Próxima Companhia,
          Cassia Santos,
          Centro Cultural Ocupação São João,
          Coletivo Mapa Xilográfico,
          Coletivo Kilombagem,
          ECLA - Toca do Saci,
          Euler Sandeville,
          Graça Castanheira,
          Graziela Pacheco,
          Lincoln Péricles,
          Marcelo Sampaio,
          Márcio Castro e
          Rosenildo Bittencourt.
          Realização:
          Governo do Estado de São Paulo – Secretaria da Cultura,
          ProAc – Incentivo à Cultura do Estado de São Paulo,
          Grão Filmes,
          Ovo Frito Filmes e
          Revista AGRESTE
          "
    />
  </main>
</template>

<style scoped>
  img {width: 100%}
</style>