<template>
  <div class="home">
    <transition name="slide">

      <section
        key="1"
        v-if="path.length <= 0"
        >
        <figure v-if="!viewed" class="button">
          <img
            :src="require('@/assets/button.svg')"
            alt="Iniciar"
            @click="createPath()"
            />
          <figcaption><span>Iniciar</span></figcaption>
        </figure>
        <div
          class="even"
          v-else>
          <figure class="button">
            <img
              :src="require('@/assets/reload.svg')"
              alt="Rever"
              @click="createPath()"
              />
            <figcaption><span>Rever</span></figcaption>
          </figure>
          <figure class="button">
            <img
              :src="require('@/assets/shuffle.svg')"
              alt="Embaralhar"
              @click="shufflePath()"
              />
            <figcaption><span>Criar novo vídeo</span></figcaption>
          </figure>
        </div>
      </section>

      <section
        key="2"
        v-else
        class="videoWindow"
        >
        <div class="close" @click="endVid()">
          <img :src="require('@/assets/close.svg')" alt="fechar" />
        </div>
        <vimeo-player
          class="player"
          ref="player"
          :options="playerOptions"
          video-id="159699169"
          @loaded="play()"
          @ended="nextVid()" />
        <ul class="vidList">
          <li @click="toVid(-1)">ABERTURA</li>
          <li
            v-for="(step, index) in path"
            :key="index"
            @click="toVid(index)"
            >
            〉{{videos[step].name}}
          </li>
          <li @click="toVid(path.length)">〉FECHAMENTO</li>
        </ul>
      </section>

    </transition>
  </div>
</template>

<script>
import start_end from '@/data/start_end'
import videosWeights from '@/data/videos_weights.json'
import json from '@/data/video_infos.json'
import Chance from 'chance'

export default {
  name: 'Home',
  data() {
    return {
      path: [],
      stage: -1,
      viewed: false,
      videos: json,
      borbas: Object.keys(json).filter(k => k.indexOf('BO') == 0),
      chance: new Chance(),
      playerOptions: {
        color: '000',
        byline: false,
        title: false
      }
    }
  },
  methods: {
    play() {
      this.$refs.player.play()
    },
    endVid() {
      this.$refs.player.pause()
      this.viewed = true
      this.path = []
      this.stage = -1
    },
    createPath() {
      this.path = this.$route.params.path.match(/.{1,4}/g)
      this.updatePlayer()
    },
    shufflePath() {
      let path = this.createRandomPath()
      path = path.join('')
      this.$router.replace( { params: { path: path } } )

      this.createPath()
    },
    nextVid() {
      if (this.stage < this.path.length) {
        this.stage += 1
        this.updatePlayer()
      } else {
        this.endVid()
      }
    },
    toVid(step) {
      this.stage = step
      this.updatePlayer()
    },
    updatePlayer() {
      let vidId = ''
      if (this.stage === -1) {
        vidId = this.videos['ABERTURA'].id
      } else if (this.stage === this.path.length) {
        vidId = this.videos['FECHAMENTO'].id
      } else {
        vidId = this.videos[this.path[this.stage]].id
      }
      this.$nextTick(() => {
        this.$refs.player.update(vidId)
      })
    },
    createSlug(videoList) {
      let sym = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ123456789';
      let slug = '';

      videoList.forEach((video) => {
        if (video['old_id'] > 0) {
          if (video['old_id'] < 61) {
            slug += sym[video['old_id']]
          } else {
            slug += '0' + sym[video['old_id'] - 61]
          }
        }
      })
      return slug;

    },

    selectNext(current, alreadyPlayed) {
      let nextVideo = null;
      let keepLooking = true;
      while (keepLooking) {
        nextVideo = this.chance.weighted(Object.keys(videosWeights[current]), Object.keys(videosWeights[current]).map(k => videosWeights[current][k])) //np.random.choice(videos_weights[video_atual.name].keys(), p=prob)
        if (alreadyPlayed.indexOf(nextVideo) < 0)
          keepLooking = false;

      }

      return nextVideo;

    },

    createRandomPath(maxNum = 7) {
      let randomStartEndIndex = Math.ceil(Math.random()*(start_end.length - 1));
      let startEnd = start_end[randomStartEndIndex];
      let sequence = []
      let alreadyPlayed = [startEnd[0], startEnd[1]]
      sequence.push(startEnd[0])

      let current = startEnd[0]
      for (var i = 0; i < maxNum; ++i) {
        let next = this.selectNext(current, alreadyPlayed)
        alreadyPlayed += [next]
        sequence.push(next)
        current = next
      }

      sequence.push(startEnd[1])
      if (startEnd[1] === 'CA13') {
        sequence.push('CA2' + Math.floor(Math.random() * (5)))
        sequence.push('CA25')
      }

      this.addBorbas(sequence, maxNum)

      return sequence;
    },

    addBorbas(sequence, maxNum) {

      let numBorbas = 3 + (maxNum - 7) / 2
      let indices = [...Array(maxNum).keys()].map(i => i + 2)
      let des_indices_borba = this.chance.pickset(indices, numBorbas)
      let indices_borba = des_indices_borba.sort()

      for (var i = 0; i < indices_borba.length; ++i) {
	sequence.splice(indices_borba[i] + i, 0, this.borbas[i])
      }

    }
  },
  mounted() {
    if(!this.$route.params.path) {
      let path = this.createRandomPath()
      path = path.join('')
      this.$router.push( { params: { path: path } } )
    }
  }
}
</script>

<style scoped>
  .home {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

  section {
    position: absolute;
    top: 0; left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;;
    height: 100vh;
  }
  .videoWindow {overflow-y: scroll;}
  .even {
    display: flex;
    align-items: stretch;
  }
  .even img {margin: 0 10vw}

  .button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .button:hover { opacity: .75; }
  .button img { width: 30vh; }
  .button figcaption span { padding: 10px 20px; font-family: 'Bebas Neue', cursive; }

  .close {
    position: absolute;
    top: 1vw; right: 1vw;
    cursor: pointer;
  }
  .close img { width: 2vw; min-width: 30px;}
  .close:hover img {opacity: .75;}

  .player {
    width: 70vw;
    height: 40vw;
    background: rgba(0,0,0,.75);
  }
  .player >>> iframe {
    width:100%; height: 100%;
  }

  .vidList {
    display: flex;
    list-style: none;
    font-size: .8rem;
    padding: 0;
    flex-wrap: wrap;
  }
  .vidList li, figcaption span {
    background: black;
    color: white;
    cursor: pointer;
    padding: 5px;
  }
  .vidList li:hover {
    background: rgba(137,23,23, 1);
    text-decoration: underline;
  }

  .slide-leave-active,
  .slide-enter-active {
    transition: 1s;
  }
  .slide-enter {
    transform: translateY(100%);
  }
  .slide-leave-to {
    transform: translateY(-100%);
  }

  @media (orientation: portrait) {
    .even {flex-direction: column;}
  }
</style>
