<template>
  <div class="about">
    <p>
      <span>
        O presente trabalho se completa agora, em junho de 2016, num cenário em nada melhor do que aquele em que se iniciou há um ano.
        <br />
        <br />Neste interim, Júlio (deriva Jabaquara) foi, por motivos que até agora não se fizeram claros, afastado da coordenação do Centro Cultural Jabaquara e impedido de seguir com seu excepcional trabalho de resgate histórico e construção do acervo e memória afrodescendente brasileira naquele local. As lutas indígenas por demarcação de terras recentemente foram submetidas à tutela do interesse empresarial com conceções de gestão de diversos parques nacionais à iniciativa privada. As populações vulneráveis estão sendo sistemáticamente expulsas do centro da cidade através de uma ação perversa da Guarda Civil Municipal que lhes impede de possuir colchões e cobertores, ao mesmo tempo que a prefeitura oferece cada vez menos abrigos e pontos de apoio no centro. A luta urbana por moradias dignas segue sem horizontes próximos, confrontando-se com uma crescente violência policial que, recentemente, se evidenciou na retirada violenta dos alunos ocupantes do Centro Paula Souza sem mandado judicial. O aparato policial se amplia e fortalece, epecialmente voltado contra jovens negros e populações vulneraveis, mas tambem esticando seus tentáculos contra movimentos sociais e ativistas politicos.
        <br />
        <br />Em paralelo, seja em âmbito municipal, estadual ou federal, grupos fundamentalistas conservadores têm ganhado espaço, agindo em favor da implementação de políticas reacionárias contra as religiões de matrizes africanas, mulheres, homossexuais e pessoas em situação de alta vulnerabilidade social.
        <br />
        <br />Tudo isto se evidencia em uma tentativa (provavelmente bem-sucedida) que está em curso buscando a deposição de um governo que se propunha social, mas que em nada – ou quase nada – agia contra os interesses e poderes que fomentam a segregação e a violência representadas no presente trabalho. Esta ação fomentada pelas elites financeiras do país, por sua vez, aponta apenas para o incremento do pensamento bandeirante que continua a gerir nosso Estado.
        <br />
        <br />Inflizmente, a cada dia de nosso processo, Mobiliário Urbano se mostrou mais atual e necessário.
        <br />Muitas lutas ainda serão necessárias para que, quem sabe, a realidade aqui explícita se torne um mero documento histórico de um passado superado.
        <br />Lutemos.
      </span>
    </p>
    <br />
    <br />
    <br />
    <h1>
      <p>
        <span>Informações de contato</span>
      </p>
    </h1>
    <br />
    <p>
      <span>
        Email:
        <a href="mailto:moburb@agre.st">moburb@agre.st</a>
      </span>
    </p>
    <br />
    <br />
    <br />
    <h1>
      <p>
        <span>Mais Informações</span>
      </p>
    </h1>
    <br />
    <h2>
      <span>DIGA - VILA ITORORÓ</span>
    </h2>
    <p>
      <span>Coletivo Mapa Xilografico</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="http://mapaxilografico.blogspot.com.br">site</a>,
        <a
          target="_blank"
          href="https://www.facebook.com/Coletivo-Mapa-Xilografico-841944232589931/?fref=ts"
        >facebook</a>,
        <a target="_blank" href="https://vimeo.com/mapaxilografico">vimeo</a>,
        <a target="_blank" href="https://www.youtube.com/channel/UCO1dYsHNaqrg4xM9m7BobPA">youtube</a>
      </span>
      <br />
      <span>Filme "A Deriva"</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="https://vimeo.com/51460632">vimeo</a>
      </span>
    </p>
    <br />
    <h2>
      <span>DRÃO - CENTRO/IGREJA NOSSA SENHORA DO ROSÁRIO DOS HOMENS PRETOS/ATO</span>
    </h2>
    <p>
      <span>Geraldo Filme entrevista:</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="https://www.youtube.com/watch?v=F5mcjian5Po">youtube</a>
      </span>
    </p>\
    <br />
    <h2>
      <span>DANIEL - CENTRO/OCUPAÇÃO SÃO JOÃO</span>
    </h2>
    <p>
      <span>Frente de Luta por moradia</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="http://www.portalflm.com.br">site</a>
      </span>
    </p>
    <p>
      <span>Centro Cultural Ocupação São João</span>
      <span>
        &gt;&gt;
        <a
          target="_blank"
          href="https://www.facebook.com/Centro-Cultural-da-Ocupação-São-João-490900594319238/timeline/"
        >facebook</a>
      </span>
    </p>
    <p>
      <span>Despejo da ocupação em frente (Hotel Aquarius)</span>
      <span>
        &gt;&gt;
        <a
          target="_blank"
          href="https://www.youtube.com/watch?time_continue=231&amp;v=BHoyIxvnoMM"
        >youtube</a>
      </span>
    </p>
    <p>
      <span>Dados de predios sem função social</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="http://www.brasildefato.com.br/node/29990">site</a>
      </span>
    </p>
    <p>
      <span>Zeitgeist</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="https://movimentozeitgeist.com.br">site</a>
      </span>
    </p>
    <p>
      <span>People before profit</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="https://www.youtube.com/watch?v=L3tLioIVgfY">youtube</a>
      </span>
    </p>
    <br />
    <h2>
      <span>JÚLIO - CENTRO CULTURAL JABAQUARA</span>
    </h2>
    <p>
      <span>Axé Ilê Obá</span>
      <span>
        &gt;&gt;
        <a
          target="_blank"
          href="http://www.axeileoba.com.br/index.php/2016/01/14/manifesto-territorio-de-cultura-afro-mae-sylvia-de-oxala/"
        >site</a>,
        <a target="_blank" href="https://pt.wikipedia.org/wiki/Axé_Ilê_Obá">wikipedia</a>,
        <a target="_blank" href="https://www.facebook.com/axeileoba/">facebook</a>
      </span>
    </p>
    <p>
      <span>Mapa Várzea do Carmo</span>
      <span>
        &gt;&gt;
        <a
          target="_blank"
          href="https://upload.wikimedia.org/wikipedia/commons/f/ff/Mapa_da_capital_da_Prov%C3%ADncia_de_São_Paulo%2C_1877.jpg"
        >site</a>imagem
      </span>
    </p>
    <p>
      <span>Centro Cultural do Jabaquara</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="https://www.facebook.com/CentroCulturalJabaquara/">facebook</a>
      </span>
    </p>
    <br />
    <h2>
      <span>SABRINA - ANHANGABAÚ</span>
    </h2>
    <p>
      <span>Arquitetura da Gentrificação</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="https://www.facebook.com/gentrificacao/?fref=ts">site</a>,
        <a target="_blank" href="https://www.facebook.com/gentrificacao/?fref=ts">facebook</a>
      </span>
    </p>
    <br />
    <h2>
      <span>CASÉ - PÁTEO DO COLÉGIO/SÉ/LIBERDADE</span>
    </h2>
    <p>
      <span>A - Publicações de Casé Angatu com sites:</span>
    </p>
    <p class="pub">
      <span>I - (Casé Angatu) SANTOS, Carlos José F. "Nem Tudo Era Italiano - São Paulo e pobreza na virada do século XIX-XX (1890-1915)". São Paulo: Annablume/FAPESP, (3a. Edição) 2008.</span>
      <span>
        &gt;&gt;
        <a
          target="_blank"
          href="https://books.google.com.br/books?id=dXYRPmNGsTIC&amp;printsec=frontcover&amp;hl=pt-BR#v=onepage&amp;q&amp;f=false"
        >site</a>
      </span>
    </p>
    <p class="pub">
      <span>II - (Casé Angatu) SANTOS, Carlos José F. "Identidades Urbanas e Globalização: constituição dos territórios em Guarulhos/SP". São Paulo: Annablume/Sinpro-Gru, 2006.</span>
      <span>
        &gt;&gt;
        <a
          target="_blank"
          href="https://books.google.com.br/books?id=9K07azwtF-YC&amp;printsec=frontcover&amp;dq=Identidades+Urbanas+e+Globaliza%C3%A7%C3%A3o:+constitui%C3%A7%C3%A3o+dos+territ%C3%B3rios+em+Guarulhos/SP.&amp;hl=pt-BR&amp;sa=X&amp;ved=0ahUKEwi76LCfqa_LAhUCI5AKHQjpDggQ6AEIHTAA#v=onepage&amp;q=Identidades%20Urbanas%20e%20Globaliza%C3%A7%C3%A3o%3A%20constitui%C3%A7%C3%A3o%20dos%20territ%C3%B3rios%20em%20Guarulhos%2FSP.&amp;f=false"
        >site</a>
      </span>
    </p>
    <p class="pub">
      <span>III - (Casé Angatu) SANTOS, Carlos José F. “Várzea Do Carmo Lavadeiras, Caipiras E ‘Pretos Véios’". In: Fundação Patrimônio Histórico da Energia de São Paulo. "Revista Memória Energia - n.28". São Paulo: Fundação Patrimônio Histórico da Energia de São Paulo, 2001</span>
      <span>
        &gt;&gt;
        <a
          target="_blank"
          href="http://www.energiaesaneamento.org.br/busca.aspx?search=V%C3%A1rzea+Do+Carmo+"
        >site</a>
      </span>
    </p>
    <p class="pub">
      <span>IV - (Casé Angatu) SANTOS, Carlos José F. " "História e Culturas Indígenas - Alguns Desafios no Ensino e na Aplicação da Lei 11.645/2008: De Qual História e Cultura Indígena Estamos Falando?". In: "Revista História &amp; Perpectiva do Núcleo de Pesquisa e Estudos em História, Cidade e Trabalho do Curso de Graduação e Pós-Graduação em História da Universidade Federald de Uberlândia-UFU". Uberlândia: UFU, 2015.</span>
      <span>
        &gt;&gt;
        <a
          target="_blank"
          href="http://www.seer.ufu.br/index.php/historiaperspectivas/article/view/32772"
        >site</a>
      </span>
    </p>
    <p class="pub">
      <span>V - ANGATU, Casé e TUPINAMBÁ, Katu. “Mãe Terra Olivença: Território de Nossa Ancestralidade Sagrada”. In: Coletivo Indígena (Kariri-Xocó, Karapotó, Xokó, Ptxó, Pankararu, Pataxó Hãhãhãe, Tupinambá). "Memória da Mãe Terra". Território Indígena de Olivença/Ilhéus: Thydêwá, 2014, p. 06 - 09.</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="http://www.thydewa.org/downloads1/">site</a>
      </span>
    </p>
    <p class="pub">
      <span>VI - ANGATU, Casé. e TUPINAMBÁ, Katu. “Marcelino Vive em Nós”. In: Coletivo Indígena (Kariri-Xocó, Karapotó, Xokó, Patxó, Pankararu, Pataxó Hãhãhãe, Tupinambá). "Memória - Índios na visão dos índios: Memória". Território Indígena de Olivença/Ilhéus, 2012, p. 06 - 09.</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="http://www.thydewa.org/downloads1/">site</a>
      </span>
    </p>
    <p>
      <span>B - Entrevistas Casé Angatu:</span>
    </p>
    <p class="pub">
      <span>I - Casé Angatu: entrevista realizada pela FolhaOnline, quando do aniversário da cidade de São Paulo e do Mercado Municipal com o título “Mercado Municipal (de São Paulo) Completa 75 Anos” (In: FolhaOnline. 25/01/2008.</span>
      <span>
        &gt;&gt;
        <a target="_blank" href=" https://www.youtube.com/watch?v=zrsf-rFy0C4">youtube</a>
      </span>
    </p>
    <p class="pub">
      <span>II - Casé Angatu: Documentário: "Carpição, a Benção da Terra: uma tradição secular em Guarulhos", 2014.</span>
      <span>
        &gt;&gt;
        <a target="_blank" href=" https://www.youtube.com/watch?v=i0RPogARsZI">youtube</a>
      </span>
    </p>
    <p class="pub">
      <span>III - Casé Angatu: entrevista sobre o tema da "Imigração em São Paulo" para a Secretaria de Educação do Governo do estado de São Paulo, 2014.</span>
      <span>
        &gt;&gt;
        <a
          target="_blank"
          href="http://www.ejamundodotrabalho.sp.gov.br/Conteudo.aspx?MateriaID=53&amp;tipo=Videos"
        >site</a>
      </span>
    </p>
    <p class="pub">
      <span>IV - Casé Angatu: entrevista para o Coletivo Índio É Nós, intitulada: “Casé Angatu fala da luta dos Tupinambás e do Seminário Índio Caboclo Marcelino”, 2014.</span>
      <span>
        &gt;&gt;
        <a target="_blank" href="https://www.youtube.com/watch?v=psz9-JSk1WA">youtube</a>
      </span>
    </p>
    <p class="pub">
      <span>V - Casé Angatu: entrevista para o jornal GGN de Luis Nassif acerca da história e luta indígena, 2014.</span>
      <span>
        &gt;&gt;
        <a
          target="_blank"
          href="https://www.youtube.com/watch?v=FRA_5xR6MEM&amp;list=PLZUPpD2EGpfpLCbIVmHWu_TIQgGv_8Zbh"
        >youtube</a>
      </span>
    </p>
  </div>
</template>
