<template>
  <div class="about">
    <h1>
      <p>
        <span>Mobiliário Urbano</span>
      </p>
    </h1>
    <br />
    <p>
      <span>Webdocumentário experimental</span>
    </p>
    <p>
      <span>Cada acesso faz uma nova ordem do caos</span>
    </p>
    <p>
      <span>114 vestígios fílmicos &gt; 1 filme</span>
      <br />
      <span style="margin-left: 10%;">
        <a target="_blank" href="http://www.moburb.org/#/videos">moburb.org/#/videos</a> &gt;
        <a target="_blank" href="http://www.moburb.org">moburb.org</a>
      </span>
      <br />
      <span style="margin-left: 20%">
        &gt; 2,6981959186483482*10
        <sup>32</sup>
      </span>
      <span style="white-space:nowrap">filmes possíveis</span>
    </p>
    <p>
      <span>experiência audiovisual transmídia</span>
    </p>
    <br />
    <p>
      <span>Mob Urb, Em...</span>
    </p>
    <p>
      <span>
        alucinação aflição afogo
        <b>
          <u>agonia</u>
        </b> amargura amarume angústia ânsia ansiedade aperto apertura apoquentaçãoatormentaçâo atribuição atribulação brasa consternação desconsolação
        <strike>desesperação</strike>
        <b>
          <u>desinquietação</u>
        </b> desolação dolência dor exacerbação flagelação frágua garrote luto mágoa martírio mortificação pena pesarsofrimento
        <strike>suplício</strike>tormento trago
        <b>
          <u>transe</u>
        </b> tribulação angâstia estertor paroxismo últimas vascasacanhamento carência confrangimento desconsolo
        <b>
          <u>desgosto</u>
        </b> estreiteza falta opressão &gt;&gt;acotovelamentoâpertamento&lt;&lt;
        <b>
          <u>arrocho conflito constrangimento</u>
        </b> constrição cortado dificuldades embaraços entalaçãoentaladela estrangulaçâo estreitamento estrsturâ lance
        <strike>necessidade</strike>pressão rascada vexação apuro alinhodificuldade distinção esmero miséria requinte situação crise amargor arrependimento compaixão exulceraçãomal pontada pungimento
        <b>
          <u>sentimento</u>
        </b> acontecimento aventura
        <b>
          <u>cena</u>
        </b> ensejo fato feito
        <b>
          <u>&gt;golpe&lt;</u>
        </b> incidente
        <b>
          <u>jogadaoferta</u>
        </b> rasgo risco provação debuxo perigo
        <b>
          <u>planta</u>
        </b> rabisco raia risca traçado traço traspassamento atrasoatravessamento delonga falecimento morte passamento retardamento traspassacão sirtes prélio transporteentusiasmo renhimento prova escolho
        <b>
          <u>peleja</u>
        </b> perda susto espanto decesso medo ventura xeque
        <b>
          <u>luta</u>
        </b> finamentosobressalto contenda traspasso porfia traspasse provadura combate pugna
        <b>
          <u>óbito</u>
        </b> demanda
      </span>
    </p>
    <p>
      <span>
        <b>
          <u>tirar da terra</u>
        </b> descobrir acertar achar adivinhar avistar denunciar desabafar desagasalhar descerrar descompordescortinar desembuçar desembuchar
        <b>
          <u>desenterrar</u>
        </b> desentranhar desmascarar desvelar desvendar
        <b>
          <u>divulgarencontrar enxergar</u>
        </b> excogitar farejar
        <strike>inventar</strike>manifestar mostrar patentear pescar revelar exumar apresentardeclarar evidenciar exibir franquear frisar provar representar retirar
        <strike>afastar</strike>evacuar levantarrecuar retrair
        <strike>segregar separar</strike>contar expor desencobrir desencerrar respirar delatar expirar passar patentizarpalrear
        <b>
          <u>desencovar</u>
        </b> dessoterrar palrar
      </span>
    </p>
    <p>
      <span>...pela cidade.</span>
    </p>
    <br />
    <p>
      <span>escancarar o fato histórico em vídeo</span>
      <br />
      <span>pontos de exclusão, pontos de gentrificação</span>
      <br />
      <span>um começo</span>
    </p>
    <br />
    <p>
      <span>Guias:</span>
    </p>
    <p>
      <u>
        <b>
          <span>Diogo Rios (Diga) na Deriva Vila Itororó,</span>
        </b>
      </u>
      <br />
      <span>Moradia; Expulsão, Bixiga, Empresas Privadas, Rios soterrados, histórias não contadas, Bixiga-Brodaway, Cidade limpa, artista-ponta-de-lança, corpos agenciados, mentiras filhas da puta.</span>
    </p>
    <p>
      <u>
        <b>
          <span>Sabrina Duran na Deriva Vale do Anhangabaú,</span>
        </b>
      </u>
      <br />
      <span>políticos filhos da puta, cidade lucrativa, revitalizar-resignificar, Itaú, higienizar, destruição criativa, privatizar, "política guapa do prefeito guapo", espelhos d'água em cima dum rio soterrado, moradores de rua, batida policial, cidade mais vendável, limpar a cidade limpa.</span>
    </p>
    <p>
      <u>
        <b>
          <span>Renato Pereira Correa (Drão) na Deriva Nossa Senhora do Rosário dos Homens Pretos</span>
        </b>
      </u>
      <br />
      <span>embranquecimento da cidade/religiões/cultura, pobre só se fode, bolsa de valores no lugar da igreja, rios soterrados, marginalizar, hebanarios-benzedeiros-curandeiros = ilegais, territórios prevalecem, intolerância religiosa, indígenas, imigrantes, filhos de santo, axé, todos juntos sempre!</span>
    </p>
    <p>
      <u>
        <b>
          <span>Bergman de Paula na Deriva no Monumento às Bandeiras</span>
        </b>
      </u>
      <br />
      <span>Ciência positivista, código de condutas, governador no colégio/palácio (dos bandeirantes) e preto descalço governado na fundação casa, Milícia é Borba Gato, pobres morrendo no parto, falobelisco branco reprodutor colonizador, política sistêmica de extermínio, colonização moderna, paulista.</span>
    </p>
    <p>
      <u>
        <b>
          <span>Casé Angatu Xukuru Tupinambá na Deriva Pateo do Colégio</span>
        </b>
      </u>
      <br />
      <span>São Paulo cidade de nordestinos, a maioria dos nordestinos são Índios, São Paulo cidade de Índios, quando se diz na história da higienização "negro" o índio tá no meio sempre, extermínio, extermínio, extermínio, rios soterrados, territórios prevalecem, várzea do carmo prevalece (terminal pq dom pedro), liberdade, ao lado de todo rio tem pobre tem índio, tinha, até matarem todo mundo</span>
    </p>
    <p>
      <u>
        <b>
          <span>Daniel Vocente Santiago na Deriva Ocupação São João</span>
        </b>
      </u>
      <br />
      <span>a elite e as empresas pegando tudo de volta agora que tá mais barato, especulação imobiliária, lutar contra segregadores, autonomia, resistir, ocupar, morar é cultura, quilombo vertical!</span>
    </p>
    <p>
      <u>
        <b>
          <span>Julio César Pereria de Freitas Guató na Deriva Centro Cultural Jabaquara</span>
        </b>
      </u>
      <br />
      <span>quilombo, terreiros, território sagrado, camadas históricas (índio-negro-ditadura), especulação imobiliária, caifazes, axé Mãe Sylvia de Oxalá, espaço público, griô moderno, recortar a história, arqueologia da gentrificação, iroko, eparrei!</span>
    </p>
    <br />
    <br />
    <p>
      <span>Em deriva pela cidade índigena e negra, escutar as vozes da cidade silenciada.</span>
      <br />
      <span>História Mentira.</span>
      <br />
      <span>Corpos agenciados, expulsos, mortos.</span>
    </p>
    <p>
      <span>Gentrificação</span>
      <br />
      <span>Higienização</span>
      <br />
      <span>Segregação.</span>
    </p>
    <br />
    <p>
      <span>Pela denúncia e reescrita da História</span>
      <br />
      <span style="margin-left: 10%;">rio sob o asfalto</span>
      <br />
      <span style="margin-left: 20%;">passado presente sem futuro.</span>
    </p>
    <br />
    <p>
      <span>À cidade!</span>
      <br />
      <span>Morte aos Bandeirantes! Kabummm!</span>
    </p>
    <br />
    <p>
      <span>pela reescrita da História</span>
      <br />
      <span>pela nova fala da memória</span>
    </p>
    <p>
      <span>
        fala índio
        <br />fala negra
        <br />fala morador
        <br />fala macumbeira
        <br />fala povo
        <br />fala imigrante
      </span>
      <br />
      <span style="white-space:nowrap">fala e deixa registrado na memória pra todos verem,</span>
      <span style="white-space:nowrap">para todos saberem que naquele lugar tem cova!</span>
    </p>
    <br />
    <br />
    <p>
      <span>acesso livre</span>
      <br />
      <span style="margin-left: 10%;">
        código aberto &gt;
        <a
          target="_blank"
          href="https://gitlab.com/graofilmes/mobiliario-urbano"
        >https://gitlab.com/graofilmes/mobiliario-urbano</a>
      </span>
    </p>
  </div>
</template>
