<template>
  <div id="app" :style="{'background-image': 'url(' + require('@/assets/fundo.jpg') + ')'}">
    <nav id="nav" class="nav" role="navigation">
      <router-link class="logo" :to="{name: 'Home', params: { path: $route.params.path } }">
        <img
          class="svg"
          :src="require('@/assets/logo.svg')"
          alt="Mobiliário Urbano" />
      </router-link>
      <span class="menu">Menu</span>
      <ul>
        <li><router-link :to="{name: 'Videos', params: { path: $route.params.path } }">Vídeos</router-link></li>
        <li><router-link :to="{name: 'Creditos', params: { path: $route.params.path } }">Créditos</router-link></li>
        <li><router-link :to="{name: 'Sobre', params: { path: $route.params.path } }">Sobre</router-link></li>
        <li><router-link :to="{name: 'Mais', params: { path: $route.params.path } }">mais</router-link></li>
      </ul>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {overflow-x: hidden;}
body {overflow: hidden;}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-size: 100%;
  background-repeat: repeat-y;
  width: 100vw;
  min-height: 100vh;
}

.svg {
  min-width: 100%;
}

.nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  font-family: 'Bebas Neue', cursive;
  z-index: 50;
  height: 4vw;
  min-height: 40px;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li, .menu {
  width: 7.5vw;
  min-width: 75px;
  height: 4vw;
  min-height: 40px;
}

.nav a, .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; height: 100%;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
}

.menu {display: none;}

.nav a:hover {
  background-color: rgba(0,0,0,.7);
  text-decoration: underline;
}
a.logo {
  display: block;
  width: 10vw;
  min-width: 100px;
  background: none;
}

.about {
    padding: 100px 25% 100px 5%;
    text-align: justify;
}

.about p {
    font-size: medium !important;
    line-height: 2em;
    margin-bottom: 30px;
    color: #000;
}

.about p span {
    display: inline;
    margin-bottom: 10px;
    padding: 5px 15px;;
    background-color: #fff;
}

.about h1 {
    font-family: Lekton;
    text-decoration: underline;
}

.about h2 span {
    display: inline;
    text-decoration: underline;
    font-weight: bold;
    font-size: smaller;
    font-family: Lekton;
    margin-bottom: 10px;
    padding: 5px 15px;
    background-color: #fff;
}

.about a{
    color: crimson !important;
}

.about a:hover {
    color: red !important;
}

@media (orientation: portrait) {
  .nav ul {
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    top: 100%;
    right: 0;
  }
  .menu {display: flex; cursor: pointer;}
  .menu:hover, .menu:focus {background-color: rgba(0, 0, 0, 0.75); text-decoration: underline;}
  .menu:hover ~ ul, .menu:focus ~ ul, ul:hover, ul:focus {
    visibility: visible;
    opacity: 1;
  }
}
</style>
